@{
    
}
<ol>
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="IEnumerable_T">IEnumerable of Type</a></li> 
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="IEnumerator_T">IEnumerator of Type</a></li>  
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="ICollection_T">ICollection of Type</a></li>  
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="IList_T">IList of Type</a></li>  
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="IQueryable_T">IQueryable of Type</a></li>  
<li><a asp-controller="Collection_BuiltInInterfaces" asp-action="IDictionary">IDictionary of Type</a></li> 
</ol>
