@{


}

<ol>
 <li><a asp-controller="DI_IOC" asp-action="Introduction">Introduction to Patterns</a></li>
 <li><a asp-controller="DI_IOC" asp-action="Dependency_Injection">Dependency Injection</a></li>
 <li><a asp-controller="DI_IOC" asp-action="Inversion_Control_Principle">Inversion Control Principle</a></li>
 <li><a asp-controller="DI_IOC" asp-action="Dependency_Inversion_Principle">Dependency Inversion Principle</a></li>
 <li><a asp-controller="DI_IOC" asp-action="IoC_Container">IOC Container</a></li>
</ol>