@{
    
}

<ol>
 <li><a asp-controller="Asynchronous_Programming" asp-action="AsynchronousProgramming">Asynchronous Programming Basics</a></li>
 <li><a asp-controller="Asynchronous_Programming" asp-action="AsynchronousCallbacks">Asynchronous Callbacks</a></li>
 <li><a asp-controller="Asynchronous_Programming" asp-action="ErrorHandling">Asynchronous Callbacks Error Handling Mechanisms.</a></li>
</ol>
