@{
    
}
<ol>
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="Multithreading_AnOverview">Multithreading – An Overview</a></li>
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="TheThreadClass">The Thread Class</a></li> 
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="ThreadStates">The Thread States</a></li> 
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="ThreadPools">The Thread Pools</a></li>
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="AsyncAwait">Async and Await</a></li>
    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="Task_T">Task of Type</a></li>
</ol> 