@{
    ViewData["Title"] = "Home Page";
}

<ol>
    <li>
        <a asp-action="Index" asp-controller="Microsoft_Dotnet_with_Csharp">The NET Framework and the CSharp language</a>
    </li>
    <li>
        <a asp-action="Index" asp-controller="Creating_WebApps_Applications_With_ASPNET">Professional Web Application development using ASP.NET and CSharp</a>
    </li>
</ol>

