@{

    
}

<ol>
    <li><a asp-controller="Strings_RE" asp-action="CSharpStrings">C Sharp Strings Basics</a></li>
    <li><a asp-controller="Strings_RE" asp-action="StringImmutability">String Immutability</a></li>
    <li><a asp-controller="Strings_RE" asp-action="CommonlyStringMethods">Commonly used string methods</a></li>
    <!--
    <li><a asp-controller="Strings_RE" asp-action="RegularExpressions">Regular Expressions using C#</a></li>
    <li><a asp-controller="Strings_RE" asp-action="CustomRE">Custom Regular Expressions using C#</a></li>
    -->
</ol>