@{

}
<ol>
    <li><a asp-controller="Events_Delegates_Lambdas" asp-action="UserDefinedDelegates">Delegates, Single and Multicast delegates with examples.</a></li>
    <li><a asp-controller="Events_Delegates_Lambdas" asp-action="AnonymousMethods">Anonymous Methods</a></li>
    <li><a asp-controller="Events_Delegates_Lambdas" asp-action="LambdaExpressions">Lambda Expressions</a></li>
    <li><a asp-controller="Events_Delegates_Lambdas" asp-action="Linq">Language Integrated Querys</a></li>
</ol>

