@{

}

<ol>
    <li><a asp-controller="NETArchitecture" asp-action="Index">NET Architecture</a></li>

    <li><a asp-controller="GettingStartedWithCS6" asp-action="Index">Getting started with C&hslash; 6</a></li>

    <li><a asp-controller="OOPS_CS" asp-action="Index">Object Oriented Programming with CSharp</a></li>

    <li><a asp-controller="Assemblies" asp-action="Index">Assemblies</a></li>
    
    <li><a asp-controller="Collections_Generics" asp-action="Index">Collections and Generics -Data Structures</a></li>
    
    <li><a asp-controller="Collection_BuiltInInterfaces" asp-action="Index">Collection based Built in Interfaces</a></li>

    <li><a asp-controller="Strings_RE" asp-action="Index">Strings &amp; Regular Expressions</a></li>

    <li><a asp-controller="Errors_Exceptions" asp-action="Index">Errors and Exceptions</a></li>

    <li><a asp-controller="Events_Delegates_Lambdas" asp-action="Index">Events, Delegates and Lambdas</a></li>

    <li><a asp-controller="DI_IOC" asp-action="Index">Dependency Injection and IOC</a></li>

    <li><a asp-controller="Manipulating_Files" asp-action="Index">Manipulating Files</a></li>

    <li><a asp-controller="Asynchronous_Programming" asp-action="Index">Asynchronous Programming</a></li>

    <li><a asp-controller="Tasks_Threads_Synchronization" asp-action="Index">Tasks, Threads and Synchronization</a></li>    
    
    <li><a asp-controller="ADONET_Entity_Framework" asp-action="Index">ADO.NET Entity Framework</a></li>

</ol>
