@{

}



<ol>

    <li><a asp-controller="NET_Architecture" asp-action="NET_framework_and_CSLang">The NET framework and CSharp language</a></li>
    <li><a asp-controller="NET_Architecture" asp-action="BuildingBlocks">Building Blocks The CLR JIT Compiler CIL  MSIL Native Code Assemblies</a></li>
    <li><a asp-controller="NET_Architecture" asp-action="FCL_BCL">NET Framework Classes FCL-BCL</a></li>

</ol>


 


