@{


}


<ol>     
 <li><a asp-controller="Manipulating_Files" asp-action="FileSystemTypes">File System Types</a></li> 
 <li><a asp-controller="Manipulating_Files" asp-action="FileManagement">File Management Operations</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="Filestreams">File Streams</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="Streamwriter_Streamreader">Stream Writers and Stream Readers</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="Textwriter_Textreader">Text Writers and Text Readers</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="Stringwriter_Stringreader">String Writers and String Readers</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="DriveInfo_DirectoryInfo_FileInfo">Drive Information and Directory Information</a></li>  
 <li><a asp-controller="Manipulating_Files" asp-action="Reading_Writing_Data_Files">Reading and Writing Data into the Files</a></li>  
 </ol>  