@{
    
}
<ol>
    <li><a asp-controller="GettingStartedWithCS6" asp-action="FundamentalCS">Fundamental of C&#35;</a></li>
    <li><a asp-controller="GettingStartedWithCS6" asp-action="CTS">Common Type System</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="Variables_Constants_Identifiers">Variables, Constants, Identifiers</a></li>
    <li><a asp-controller="GettingStartedWithCS6" asp-action="FlowControl">Flow Control</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="Enumerations">Enumeration </a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="Namespaces">Namespaces</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="Main_Method">The Main Method&#40;&#41;</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="Console_IO">The Console I&#47;O</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="CS_Comments">C&#35; Comments</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="CS_PreprocessorDirectives">The Preprocessor Directives</a></li>
    <li><a asp-controller="GettingStartedWithCS6" asp-action="CS_OperatorsCasts">C&#35; Operators &#38; Casts</a></li> 
    <li><a asp-controller="GettingStartedWithCS6" asp-action="CLI_Commands">Common Language Interface&#40; CLI &#41; Commands</a></li>
</ol>