@{


}
<ol>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Classes_Structures">Classes and Structures</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="AnonymousTypes">Anonymous Types</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="PartialClasses">Partial classes</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Pillars_OOPS">Pillars of OOPS</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Encapsulation">Encapsulation</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="StaticThings">Static - static class, variables, methods, properties &amp; static constructors</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Polymorphism">Polymorphism - Method and operator overloading</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Inheritance">Inheritance - Creating a chain of classes</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="AccessModifiers">Access modifiers - private, public, protected, internal, protected internal</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Abstraction">Abstraction - abstract classes and abstract methods</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="Interfaces">Interfaces with examples.</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="SealedMethods">Sealed methods and sealed classes with examples</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="VirtualMethods">Virtual methods with examples</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="PassByValuePassByRef">Pass by value and pass by reference - ref keyword</a></li>
    <li><a asp-asp-controller="OOPS_CS" asp-action="ObjectClass">Object class - ToString&#40;&#41;, GetHashCode&#40;&#41;, GetType&#40;&#41; and Equals&#40;&#41;.</a></li>
</ol>













