@{

    
}


<ol>
 <li><a asp-controller="ADONET_Entity_Framework" asp-action="Object_Relational_Mapping">Object Relational Mapping - ORM.</a></li>
 <li><a asp-controller="ADONET_Entity_Framework" asp-action="EFRelationships">Entities and EF relationships</a></li>
 <li><a asp-controller="ADONET_Entity_Framework" asp-action="DBContext">DB Context</a></li>
 <li><a asp-controller="ADONET_Entity_Framework" asp-action="Reading_Writing_Data_To_DB">Reading and Writing Data to the Database with example</a></li>
</ol>