<ol>
  <li><a asp-controller="Collections_Generics" asp-action="ArrayLists">Array Lists</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Arrays_1D_2D_3D">Arrays - 1-Dimensional, 2-Dimensional, 3-Dimensional</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="BitArrays">Bit Arrays</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Dictionary_TKey_TValue">Dictionary</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Generics">Generics</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="HashTable"></a>Hashtable</li>
  <li><a asp-controller="Collections_Generics" asp-action="JaggedArrays">Jagged Arrays</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="LinkedLists">Linked Lists</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Queue_T">Queue</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Sets">Sets</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="SortedLists">Sorted Lists</a></li>
  <li><a asp-controller="Collections_Generics" asp-action="Stack_T">Stack</a></li>
</ol>
