@{

}

<ol>
    <li><a asp-controller="NETArchitecture" asp-action="NETFramework_CSLanguage">The DOTNET framework and C&#35; language</a></li>
    <li><a asp-controller="NETArchitecture" asp-action="BuildingBlocks">The Building Blocks of the Framework.</a></li>
    <li><a asp-controller="NETArchitecture" asp-action="FCL_BCL">DOTNET Framework Classes</a></li>
</ol>