@{


}

<ol>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "Diff_Errors_Exception">Difference Between Errors and Exceptions.</a></li>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "Builtin_Exceptions">Built In Exceptions</a></li>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "Exception_Hierarchy">Exception Hierarcy</a></li>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "Try_catch_finally">Try Catch &amp; Finally</a></li>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "Throw_Keyword">Throw Keyword</a></li>
    <li><a asp-controller = "Errors_Exceptions" asp-action = "CustomException">Custom Exception</a></li>
 </ol>