@{
    
}

<ol>
    <li><a asp-controller="Assemblies" asp-action="Private_Public_Satellite_Assemblies">Private, Public and Satellite Assemblies</a></li>

    <li><a asp-controller="Assemblies" asp-action="Assembly_Types">Types - Executable, Library, Net Modules, Assembly Manifest</a></li>

    <li><a asp-controller="Assemblies" asp-action="Assembly_Linking">Assembly linking - AL utility</a></li>

    <li><a asp-controller="Assemblies" asp-action="StrongNaming">Strong naming - sn utility</a></li>

    <li><a asp-controller="Assemblies" asp-action="GACUtil">Global Assembly Cache - GAC Util</a></li>

    <li><a asp-controller="Assemblies" asp-action="Delayed_Signing">Delayed Signing</a></li>
</ol>